<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Guide Touristique</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Logo icon -->
  <link href="img/logo.png" rel="icon">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS -->
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> <!--Animate on Scroll Library-->
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> <!--icons from boostrap-->
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet"> <!--open source icons designed on 24px grid-->
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet"> <!--Animation library-->

  <!-- CSS File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <!-- Header -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="/"><img src="img/logo.png" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          
          <li><a class="nav-link scrollto" href="#home">Accueil</a></li>
          <li><a class="nav-link scrollto " href="#activities">Activités</a></li>
          <li><a class="nav-link scrollto " href="#map">Carte</a></li>
          <li><a class="nav-link scrollto " href="#monvoyage">Mon voyage</a></li>
          <ul>
            <li class="dropdown"><a href="#"><span>Compte</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Se connecter</a></li>
                <li><a href="#">S'inscrire</a></li>
              </ul>
            </li>
        </li>
        </ul>
      </nav>

    </div>
  </header>

  <main id="main">

    <!--  Accueil -->
    <section id="home" class="home">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2> Paris </h2>
          <p>Let's travel together!</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <div class="image">
              <img src="img/paris.jpg" class="img-fluid" >
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-left">
            <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
              <h3>Une ville mythique ...</h3>
              <p class="fst-italic">
                Paris est incontestablement l'une des plus belles villes du monde, la capitale de la France, de l'art et de la mode.
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i> Quelle activité faire à Paris?</li>
                <li><i class="bx bx-check-double"></i> Où trouver les meilleurs restaurants?</li>
                <li><i class="bx bx-check-double"></i> Quelles sont les activités à proximité?</li>
              </ul>
              <p>
                 Capitale de la France, romantique à souhait, elle propose pléthore de lieux à découvrir en amoureux : la tour Eiffel, l'Arc de triomphe, le pont des Arts… Surnommée « La Ville lumière », elle est le symbole de la culture française et de la gastronomie.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section Activités  -->
    <section id="activities" class="activities">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Activites</h2>
          <p>Que faire à Paris?</p>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="activities-flters">
              <li data-filter="*" class="filter-active">Tout</li>
              <li data-filter=".filter-Restaurants">Restaurants</li>
              <li data-filter=".filter-Musées">Musées</li>
              <li data-filter=".filter-Jardins">Jardins publics</li>
            </ul>
          </div>
        </div>
        <div style="overflow-x: scroll; height:600px;">
          <div class="row activities-container" data-aos="fade-up" data-aos-delay="200">
            <% for(var i=0; i<data.length ; i++) {%>
              <div class="col-lg-4 col-md-6 activities-item filter-<%=data[i].Categorie%>">
                <div class="activities-wrap">
                  <img src="img/activities/<%=data[i].Nom%>.jpg" class="img-fluid" alt="">
                  <div class="activities-info">
                    <h4><%=data[i].Nom%> <span id="sum"></span></h4>
                    <p><%=data[i].Categorie%></p>
                    <div class="activities-links">
                      <a href="img/activities/<%=data[i].Nom%>.jpg" data-gallery="activitiesGallery" class="activities-lightbox" title="<%=data[i].Nom%>"><i class="bx bx-plus"></i></a>
                      <a href="activites/<%=data[i].ActivitesId%>" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
    </section>

    <!-- Section Carte -->
    <section id="map" class="map">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center"></div>
            <h2>Carte</h2>
            <p>Quelles sont les activités à proximité ?</p>
            <div id = "carte"></div>
            <input class="geolocalisation" class="col-lg-12 d-flex justify-content-center type = "button" value="Cliquez ici pour obtenir votre position." onclick="maposition();">
          </div>
        </div>
      </div>
    </section>

    <!-- Section Préparer mon voyage -->
    <section id="monvoyage" class="monvoyage">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h2>Préparer mon voyage!</h2>
          <p>Consulter ma liste de favoris</p>
        </div>
      </div>
    </section>

    <!-- Questions fréquentes  -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Les questions fréquentes</h2>
        </div>

        <ul class="faq-list">

          <li data-aos="fade-up">
            <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">Quelles activités faire quand on est seul ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Les visites des musées parisiens comme Le Quai Branly, la Fondation Vuitton ou le Musée Carnavalet sur l'histoire de la ville.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">Quelles activités gratuites à faire à Paris ?
              <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Découvrir les beaux jardins parisiens comme le Champ de Mars, le Jardin du Luxembourg, le Parc des Buttes-Chaumont ou le Parc Monceau.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed"> Quelles sont les activités adaptées aux enfants ?
              <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Les expériences de réalité virtuelle et certains simulateurs, jes jeux de piste en extérieur et autres chasses au trésor ou encore les visites de musées et autres activités culturelles
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">Dois-je réserver mes visites de musées et monuments à l’avance ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Oui, pour le Musée du Louvre. Les détenteurs d’un Paris Museum Pass doivent réserver un créneau horaire (gratuit) sur le site web du musée du Louvre pour pouvoir le visiter.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">Où commence la visite des bus touristiques ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Il n’y a pas de lieu défini pour commencer une visite avec les bus touristiques. Il est possible de commencer la visite à partir de n’importe quel arrêt desservi par les bus.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="500">
            <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">Où commence la visite pour la croisière promenade ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                L’embarquement pour les croisières promenades est différent en fonction de la compagnie choisie.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section>
  </main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  

  <!--  JS File -->
  <script src="require.js"></script>
  <script type="text/javascript"></script>
  <script src="node_modules/mysql/index.js"></script>
  <script id="data" type="application/json"><%- JSON.stringify(data) %></script>
  <script src="js/main.js"></script>
  <script src="https://maps.google.com/maps/api/js?key=AIzaSyBi3tzwp-NeXzn1VssiiooacnFLlata9Y0"></script>

</body>
</html>